.metrics-container{
  display:flex;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 25px;
  text-align: center;
}

.metric-card{
  flex: 1;
  background-color: #1e1e24;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #3f3f46;
}

.metric-card h4{
  margin: 0 0 5px 0;
  color: #a1a1aa;
}

.metric-card{
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}